<h4 align="center">Описание задания</h4>
<ol>
    <li>
        Создать репозиторий на github
    </li>
    <li>
        Сгенерировать двумерный массив объектов. Массив 8x256. Объекты вида {name: name; id: id, color: color} Имя, цвет и ID также должны быть сгенерированы случайно
    </li>
    <li>
        Создать приложение из двух разделов: Приветствие, Таблица.
    </li>
    <li>
        На приветственной странице - пишем что угодно (Привет Мир!)
    </li>
    <li>
        В таблице выводим двумерный массив (8 столбцов, 256 строк)
    </li>
    <li>
        Ширина одного столбца - 300px, высота ячейки - 32px
    </li>
    <li>
        Окно приложение должно быть равно размеру окна браузера.
    </li>
    <li>
        Шапка приложения должна быть зафиксирована вверху экрана
    </li>
    <li>
        Строки таблицы должны подгружаться по мере скролла. А столбцы - все сразу.
    </li>
    <li>
        При первой загрузке подгружается только то количество строк таблицы которое входит в экран + 10 строк.
    </li>
    <li>
        При переключении между вкладками приложения переключается хэш в локации. Работатет браузерная история (переключения между вкладками).
    </li>
    <li>
        Соответственно таблица находится в контейнере с вертикальным и горизонтальным скроллом. Само приложение скроллов не имеет, так как равно размерам браузерного окна.
    </li>
    <li>
        Все ячейки таблицы выводятся белыми - с названием внутри {name}. При клике на ячейку - она плавно заливается цветом color
    </li>
    <li>
        Поместить работу в github репозиторий. Использовать только HTML CSS JS (и любые фреймворки для перечисленных языков)
    </li>
</ol>